#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000 // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 12   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <300>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    // 上下滚动编码器行为

    scroll_vertical_encoder: scroll_vertical_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    // 左右滚动编码器行为

    scroll_horizontal_encoder: scroll_horizontal_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

        tap-ms = <100>;
    };

    behaviors {
    };

    macros {
        cedil: cedil {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(COMMA)>;
            label = "CEDIL";
        };

        atilde: atilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE &kp A>;
            label = "ATILDE";
        };

        otilde: otilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE &kp O>;
            label = "OTILDE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&kp ESC           &kp N1        &kp N2        &kp N3    &kp N4   &kp N5     &kp N6     &kp N7  &kp N8     &kp N9      &kp N0         &kp MINUS
&kp TAB           &kp Q         &kp W         &kp E     &kp R    &kp T      &kp Y      &kp U   &kp I      &kp O       &kp P          &kp EQUAL
&kp CAPSLOCK      &kp A         &kp S         &kp D     &lt 3 F  &kp G      &kp H      &kp J   &kp K      &kp L       &kp SEMI       &kp SQT
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C     &kp V    &kp B      &kp N      &kp M   &kp COMMA  &kp DOT     &kp SLASH      &kp GRAVE
&kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_ALT  &kp LGUI  &mo 1    &kp SPACE  &kp SPACE  &mo 2   &kp ENTER  &kp DELETE  &kp BACKSLASH  &kp BACKSPACE
            >;

            sensor-bindings =
                <&scroll_horizontal_encoder>,
                <&scroll_vertical_encoder>;
        };

        L2 {
            bindings = <
&kp TILDE  &kp F1   &kp F2  &kp F3  &kp F4        &kp F5        &kp F6           &kp F7          &kp F8           &kp F9          &kp F10         &kp F11
&trans     &none    &none   &none   &trans        &trans        &none            &msc SCRL_UP    &none            &otilde         &kp PAGE_UP     &kp F12
&trans     &atilde  &none   &none   &kp LS(LBRC)  &kp LS(RBRC)  &msc SCRL_LEFT   &msc SCRL_DOWN  &msc SCRL_RIGHT  &kp HOME        &kp PAGE_DOWN   &kp END
&trans     &trans   &trans  &cedil  &kp LBKT      &kp RBKT      &kp PRINTSCREEN  &none           &trans           &trans          &kp UP_ARROW    &trans
&trans     &trans   &trans  &trans  &trans        &trans        &mkp LCLK        &mkp MCLK       &mkp RCLK        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp HOME END>, <&inc_dec_kp PG_UP PG_DN>;
        };

        L3 {
            bindings = <
&to 0   &trans  &trans  &kp F13  &kp F14  &kp F15  &kp F16  &kp F17  &kp F18  &kp F19  &kp F20  &kp F21
&trans  &trans  &trans  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &kp F22
&trans  &trans  &trans  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        L4 {
            bindings = <
&to 0   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        L5 {
            bindings = <
&to 0   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings =
                <&scroll_vertical_encoder>,
                // 编码器1：上下滚动,,,
                <&scroll_horizontal_encoder>;

            // 编码器2：左右滚动
        };

        L6 {
            bindings = <
&to 0   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        L7 {
            bindings = <
&to 0   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
